.header a{
text-decoration: none;
margin-right: 15px;
font-weight: bold;
 
color: whitesmoke;
}
.header a:hover{color: goldenrod;}
.btn{
    margin-left: 10px;
    color: white;
    font-weight: bold;
}
.BGC{
    background-color: cadetblue;
}