.footer-container {
    background-color:#161212;
    padding: 50px;
    color: rgb(216, 209, 209);
     
     
  }

.icon {
    margin: 5px;
    padding: 5px;
    background-color: rgb(46, 46, 46);
    color: white;
    font-size: 30px;
  }
  .icon:hover {
    background-color: goldenrod
  }

  .foter-phone-icon {
    font-size: 30px;
    color:blue;
  }
  